<header>
    <div id="logo">
        <img src="assets/img/logo.svg" alt="logo">
    </div>
    <nav id="menu">
        <a id="about" href="#">Sobre</a>
        <a id="courses" href="#">Cursos</a>
        <a id="books" href="#">Livros</a>
        <a id="certificates" href="#">Certificados</a>
        <a id="contact" href="#">Contato</a>
    </nav>
</header>

<div id="corpo">
    <div id="efeito">
        <div id="fundo">

            <h1 id="titulo">Nitai Charan</h1>
            <nav>
                <a id="yellow" style="color: yellow" href="#">Amarelo</a>
                <a id="orange" style="color: orange" href="#">Jaranja</a>
                <a id="red" style="color: red" href="#">Vermelho</a>
                <a id="pink" style="color: pink" href="#">Rosa</a>
                <a id="green" style="color: green" href="#">Verde</a>
            </nav>
            <div id="content">
                <table>
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>País</th>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>Unknown</td>
                        <td>Unknown</td>
                        <td>Unknown</td>
                        <td>Unknown</td>
                    </tr>
                    <tr>
                        <td>Senor</td>
                        <td>Abravanel</td>
                        <td>Morumbi</td>
                        <td>SP</td>
                        <td>SP</td>
                        <td>Brasil</td>
                    </tr>
                    <tr>
                        <td>Patrícia</td>
                        <td>Abravanel</td>
                        <td>Morumbi</td>
                        <td>SP</td>
                        <td>SP</td>
                        <td>Brasil</td>
                    </tr>
                    <tr>
                        <td>Robert</td>
                        <td>Downey</td>
                        <td>Los Angeles</td>
                        <td>Malibu</td>
                        <td>Califórnia</td>
                        <td>EUA</td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <nav id="backgroundnav">
                <a id="1" href="#">1</a>
                <a id="2" href="#">2</a>
                <a id="3" href="#">3</a>
                <a id="4" href="#">4</a>
                <a id="5" href="#">5</a>
            </nav>
        </div>
    </div>
</div>

<footer>
    <div id="by">
        <p>Desenvolvido por Nitai Charan</p>
    </div>
</footer>
